{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'journal.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css">
</head>
<body>

    <!-- Шапка -->
    <header class="bg-light p-2">
        <div class="container">
            <!-- Верхняя строка с мелкими ссылками -->
            <div class="d-flex justify-content-between align-items-center">
                <div class="small text-muted d-flex align-items-center">
                    <a href="#" id="supportButton" class="text-decoration-none text-muted me-2 fs-6">Обратная связь</a>
                <!-- Модальное окно -->
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="mx-3">
                                Данный раздел находится в разработке, приносим свои извинения. Скоро можно будет отправлять сообщения напрямую в техническую поддержку, а пока вы можете позвонить на бесплатный номер <strong>+7 990 088 22 00</strong> или же написать нам на почту <a href="mailto:books4everyone@mail.ru">books4everyone@mail.ru</a>.
                            </p>
                        </div>
                    </div>
                    <span class="text-muted mx-2">|</span>
                    <a href="#" class="text-decoration-none text-muted fs-6">Наши магазины</a>
                </div>
                <div class="d-flex gap-3">
                    <a href="{% url 'vhod' %}" class="navbt btn p-0" name="vhod"><b><u>Войти</u></b></a>
                </div>  
            </div>
            
            <!-- Название сайта -->
            <div class="text-center mb-3">
                <h1 class="m-0 fs-2 fw-bold">Books For Everyone</h1>
            </div>
            
            <!-- Основная навигация -->
            <nav class="d-flex gap-5 fs-5 position-relative">
                <!-- Каталог с выпадающим меню -->
                <div class="dropdown">
                    <a href="#" class="text-decoration-none text-dark dropdown-toggle fs-5" id="catalogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Каталог
                    </a>
                    <!-- Выпадающее меню -->
                    <ul class="dropdown-menu genre-dropdown" aria-labelledby="catalogDropdown">
                        {% for genre in genres %}
                            <li><a class="dropdown-item genre-item" href="#">{{ genre }}</a></li>
                        {% empty %}
                            <li><a class="dropdown-item disabled" href="#">Нет доступных жанров</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="#" class="text-decoration-none text-dark fs-5">Журнал</a>
                <a href="#" class="text-decoration-none text-dark fs-5">Издательства</a>
            </nav>
            
        </div>
    </header>

    <!-- Основное содержимое -->
    <div class="container-fluid" style="max-width: 1400px;">

            <!-- Контент -->
            <div class="col-md-12 content">
                <!-- Хлебные крошки -->
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}" name="index"><b>Главная</b></a></li>
                        <li class="breadcrumb-item">Журнал</li>
                    </ol>
                </nav>

                <!-- Книги -->
                <section class="mb-5">
                    <!-- Поиск в центре -->
                    <form class="d-flex justify-content-center my-3">
                        <input type="text" class="form-control" placeholder="Поиск по ключевому слову" style="width: 400px;">
                    </form>
                    <h2 class="text-center mb-4">Журнал</h2>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for article in articles %}
                        <div class="col ">
                            <div class="card h-100 d-flex flex-column">
                                <img src="{{ article.photo_article }}" class="card-img-top" alt="{{ article.title_article }}">
                                <div class="card-body flex-grow-1 d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">{{ article.title_article }}</h5>
                                        <p class="card-text">{{ article.text_article|truncatewords:20 }}</p>
                                    </div>
                                    <div class="card-btn d-flex justify-content-center mt-3">
                                        <a href="#" class="btn btn-secondary w-100">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col">
                            <div class="alert alert-info" role="alert">
                                Статей пока нет.
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <!-- Пагинация -->
            </div>
    </div>

    <!-- Подвал -->
    <footer class="bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-3">Где ещё нас можно найти:</p>
                    <div class="d-flex gap-3">
                        <button class="btn btn-light"><i class="bi bi-facebook"></i></button>
                        <button class="btn btn-light"><i class="bi bi-vk"></i></button>
                        <button class="btn btn-light"><i class="bi bi-youtube"></i></button>
                    </div>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-3">Хотите получать рассылку о новинках? Укажите вашу почту!</p>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="ivanov.ivan@mail.ru" aria-label="Email input with button addon">
                            <button class="btn btn-secondary" type="button"><i class="bi bi-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script> 
        document.getElementById('toggleSidebar').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        });
        // Получаем элементы модального окна
        const modal = document.getElementById('modal');
        const supportButton = document.getElementById('supportButton');
        const closeButton = document.querySelector('.close');
        
        // Открываем модальное окно при нажатии на кнопку
        supportButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });
        
        // Закрываем модальное окно при нажатии на крестик
        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });
        
        // Закрываем модальное окно при клике вне его области
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    </script>
</body>
</html>