{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Издательства</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column min-vh-100">

<!-- Шапка -->
      <header class="bg-light p-2">
        <div class="container">
          <!-- Верхняя строка с мелкими ссылками -->
          <div class="d-flex justify-content-between align-items-center">
            <div class="small text-muted d-flex align-items-center">
                <a href="#" id="supportButton" class="text-decoration-none text-muted me-2 fs-6">Обратная связь</a>
                <!-- Модальное окно -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="mx-3">
                            Данный раздел находится в разработке, приносим свои извинения. Скоро можно будет отправлять сообщения напрямую в техническую поддержку, а пока вы можете позвонить на бесплатный номер <strong>+7 990 088 22 00</strong> или же написать нам на почту <a href="mailto:books4everyone@mail.ru">books4everyone@mail.ru</a>.
                        </p>
                    </div>
                </div>
                <span class="text-muted mx-2">|</span>
                <a href="#" id="supportButton3" class="text-decoration-none text-muted fs-6">Наши магазины</a>
                <div id="modal3" class="modal">
                    <div class="modal-content">
                        <a class="close3 d-flex justify-content-end text-decoration-none text-dark">&times;</a>
                        <p class="mx-3">
                            Данный раздел находится в разработке, приносим свои извинения. Скоро можно будет смотреть магазины сети на карте прямо на сайте, а пока вы можете воспользоваться навигационнываи картами или позвонить на бесплатный номер <strong>+7 990 088 22 00</strong>, написать нам на почту <a href="mailto:books4everyone@mail.ru">books4everyone@mail.ru</a> для обращения за помощью.
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3">
                <a href="{% url 'favourite' %}"  class="navbt btn btn-light px-2"><i class="bi bi-heart-fill"></i></a>
                <a href="{% url 'shopcart' %}" class="navbt btn btn-light px-2 position-relative">
                    <i class="bi bi-cart"></i>
                    {% if cart_count > 0 %}
                        <span class="position-absolute top-0 mt-1 translate-middle badge rounded-pill bg-danger" style="font-size: 0.75rem;">
                            {{ cart_count }}
                        </span>
                    {% endif %}
                </a>
                <a class="bi bi-person-fill navbt btn btn-light px-2" name="vhod"></a>  
            </div> 
        </div>
      
          <!-- Название сайта -->
          <div class="text-center mb-3">
            <h1 class="m-0 fs-2 fw-bold"><a href="{% url 'avtoriz' %}" name="index" class="text-decoration-none text-dark">Books For Everyone</a></h1>
          </div>
      
          <!-- Основная навигация -->
          <nav class="d-flex gap-5 fs-5 position-relative">
            <!-- Каталог с выпадающим меню -->
                <div class="dropdown">
                    <a href="#" class="text-decoration-none text-dark dropdown-toggle fs-5" id="catalogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Каталог
                    </a>
                    <!-- Выпадающее меню -->
                    <ul class="dropdown-menu genre-dropdown" aria-labelledby="catalogDropdown">
                            {% for genre in genres %}
                            <li>
                                <a class="dropdown-item genre-item" href="{% url 'catalog2' genre %}">{{ genre }}</a>
                            </li>
                            {% empty %}
                            <li><a class="dropdown-item disabled" href="#">Нет доступных жанров</a></li>
                            {% endfor %}
                    </ul>
                </div>
            <a href="{% url 'journal2' %}" class="text-decoration-none text-dark">Журнал</a>
            <a href="{% url 'publishers2' %}" class="text-decoration-none text-dark">Издательства</a>
        </nav>
        </div>
      </header>

    <main class="container mt-4 flex-grow-1">
        <div class="row">
            <!-- Боковое меню -->
            <div class="col-md-3 mb-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" data-bs-toggle="list">Заказы</a>
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action" >Личные данные</a>
                    <a href="{% url 'reviews' %}" class="list-group-item list-group-item-action" >Мои отзывы</a>
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">Выйти</a>
                </div>
            </div>

            <!-- Основное содержимое -->
            <div class="col-md-9 flex-grow-1">
                <!-- Вкладка: Заказы -->
                <div id="orders" class="tab-pane fade show active">
                    <h2 class="d-flex justify-content-center">Ваши заказы</h2>
                    {% if orders %}
                        <p class="d-flex justify-content-center">Вы оформили заказы в количестве: {% user_orders_count %}</p>
                        {% for order in orders %}
                            <div class="card mb-4">
                                <div class="card-header">Заказ #{{ order.id }} • {{ order.date_ord|date:"d.m.Y" }}</div>
                                <div class="card-body">
                                    <p><strong>Статус:</strong> {{ order.status_ord }}</p>
                                    <p><strong>Сумма:</strong> {{ order.total_order_price }} ₽</p>
                                    {% if order.status_ord == 'Выполнен' %}
                                        {% if order.receipt %}
                                            <a href="{{ order.receipt.url }}" class="btn btn-success mb-3" target="_blank">
                                                <i class="bi bi-receipt"></i> Открыть чек
                                            </a>
                                        {% else %}
                                            <a href="{% url 'generate_receipt' order.id %}" class="btn btn-outline-primary mb-3">
                                                Скачать чек
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <button class="btn btn-secondary mb-3" disabled>Чек можно получить только после выполнения заказа</button>
                                    {% endif %}
                                    <h6>Книги в заказе:</h6>
                                    <ul class="list-group list-group-flush mt-3">
                                        {% for item in order.items_list %}
                                            <a href="{% url 'book_detail' item.id_book.id %}" class="text-decoration-none text-dark">
                                            <li class="list-group-item d-flex align-items-center justify-content-between py-2">
                                                <div class="d-flex align-items-center">
                                                    <img src="{{ item.id_book.photo }}" alt="{{ item.id_book.title }}" style="width: 80px; height: auto;" class="me-3">
                                                    <div>
                                                        <h6 class="mb-0">{{ item.id_book.title }}</h6>
                                                        <small class="text-muted">
                                                            {% for writer in item.id_book.id_writer.all %}
                                                                {{ writer.nickname }}
                                                                {% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="text-end">
                                                    <span class="d-block fw-bold">
                                                        {{ item.final_price }} × {{ item.count_ord }}
                                                    </span>
                                                    <span class="d-block text-success fw-bold">
                                                        Итого: {{ item.total_price }} ₽
                                                    </span>

                                                   <!-- Кнопка "Оставить отзыв" -->
                                                    {% if order.status_ord == 'Выполнен' %}
                                                        {% if item.has_review %}
                                                            <small class="text-success">Отзыв оставлен</small>
                                                        {% else %}
                                                            <a href="#" class="btn btn-outline-primary btn-sm mt-2" data-book-id="{{ item.id_book.id }}">
                                                                Оставить отзыв
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </li>
                                            </a>
                                        {% empty %}
                                            <p class="text-muted">Нет книг в этом заказе</p>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info d-flex justify-content-center">У вас нет заказов.</div>
                    {% endif %}

            </div>
        </div>
    </main>

    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="reviewModalLabel">Оставить отзыв о книге</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Форма внутри модального окна -->
        <form id="reviewForm" method="post" action="{% url 'add_review' %}">
            {% csrf_token %}
            <input type="hidden" name="book_id" id="bookIdInput">

            <div class="modal-body">
            <!-- Поле для текста отзыва -->
            <div class="mb-3">
                {{ form.text_review.label_tag }}
                {{ form.text_review }}
                {% if form.text_review.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.text_review.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Поле для рейтинга -->
            <div class="mb-3">
                <label for="rating" class="form-label">Оценка</label>
                <div id="starRating" class="d-flex gap-2 fs-3 text-warning">
                    <i class="bi bi-star" data-value="1"></i>
                    <i class="bi bi-star" data-value="2"></i>
                    <i class="bi bi-star" data-value="3"></i>
                    <i class="bi bi-star" data-value="4"></i>
                    <i class="bi bi-star" data-value="5"></i>
                </div>
                {{ form.rating }}
            </div>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <footer class="bg-light p-5">
        <div class="container d-flex justify-content-center">
                    <div class="d-flex gap-3">
                        <button class="btn btn-light"><i class="bi bi-facebook"></i></button>
                        <button class="btn btn-light"><i class="bi bi-instagram"></i></button>
                        <button class="btn btn-light"><i class="bi bi-youtube"></i></button>
                    </div>
                </div>
        <p class="d-flex justify-content-center my-3">© BookForEveryone</p>

    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap @5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script> 
        document.addEventListener("DOMContentLoaded", function () {
            const modal = new bootstrap.Modal(document.getElementById('reviewModal'));
            const form = document.getElementById('reviewForm');
            const bookIdInput = document.getElementById('bookIdInput');
            const stars = document.querySelectorAll('#starRating i');
            const ratingInput = document.querySelector('input[name="rating"]');
            let selectedRating = '';

            // Звезды
            stars.forEach(star => {
                star.addEventListener('click', function () {
                    selectedRating = this.getAttribute('data-value');
                    updateStars();
                    ratingInput.value = selectedRating;
                });

                star.addEventListener('mouseover', function () {
                    highlightStars(this.getAttribute('data-value'));
                });

                star.addEventListener('mouseout', function () {
                    updateStars();
                });
            });

            function highlightStars(hoverValue) {
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= hoverValue) {
                        star.classList.add('bi-star-fill');
                        star.classList.remove('bi-star');
                    } else {
                        star.classList.add('bi-star');
                        star.classList.remove('bi-star-fill');
                    }
                });
            }

            function updateStars() {
                stars.forEach(star => {
                    if (star.getAttribute('data-value') <= selectedRating) {
                        star.classList.add('bi-star-fill');
                        star.classList.remove('bi-star');
                    } else {
                        star.classList.add('bi-star');
                        star.classList.remove('bi-star-fill');
                    }
                });
            }

            // Открытие модального окна + подстановка book_id
            document.querySelectorAll('[data-book-id]').forEach(button => {
                button.addEventListener('click', function () {
                    const bookId = this.getAttribute('data-book-id');
                    bookIdInput.value = bookId;
                    modal.show();
                });
            });

            // Отправка формы
            form.addEventListener('submit', function (e) {
                e.preventDefault();

                // ВАЖНО: убедимся, что рейтинг выбран
                if (!ratingInput.value) {
                    alert("Пожалуйста, поставьте оценку");
                    return;
                }

                const formData = new FormData(form);

                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Ошибка при отправке отзыва");
                    }
                }).catch(error => {
                    console.error("Ошибка:", error);
                    alert("Не удалось отправить отзыв. Попробуйте позже.");
                });
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById('modal');
        const supportButton = document.getElementById('supportButton');
        const closeButton = document.querySelector('.close');

        if (!modal || !supportButton || !closeButton) {
            console.error("Элементы модального окна не найдены");
            return;
        }

        supportButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });

        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        window.addEventListener('click', (event) => {
            if (event.target === modal) {
            modal.style.display = 'none';
            }
        });
        });
        const modal3 = document.getElementById('modal3');  // ← Убедись, что ID правильный
        const supportButton3 = document.getElementById('supportButton3');
        const closeButton3 = document.querySelector('.close3');

        if (supportButton3 && modal3 && closeButton3) {
            supportButton3.addEventListener('click', () => {
                modal3.style.display = 'block';  // ✅ Теперь открытие modal3
            });

            closeButton3.addEventListener('click', () => {
                modal3.style.display = 'none';  // ✅ Закрытие modal3
            });

            window.addEventListener('click', (event) => {
                if (event.target === modal3) {
                    modal3.style.display = 'none';
                }
            });
        } else {
            console.warn("Модальное окно 3 или кнопка не найдены");
        }
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</html>